*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body {
    background-color: #b09e99 !important;
}
.max-height {
    min-height: 100vh;
}
.quote-container {
    background: rgba(255, 255, 255, 0.5);
}
#generate-btn {
    color: white !important;
    background: #64b6ac !important;
    border-color: #64b6ac !important;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}
.text-capitalize {
    text-transform: capitalize!important;
}
.text-muted {
    color: #6c757d!important;
}
.author {
    color: #64b6ac;
}
.text-right {
    text-align: right!important;
}